:root {
  --sp-bg: #050709;
  --sp-text: rgba(226, 232, 240, 0.92);
  --sp-muted: rgba(226, 232, 240, 0.7);

  --sp-pink: #ec289b;
  --sp-cyan: #59ffc8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--sp-text);
  background: var(--sp-bg);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
